:host {
  display: block;
  height: 100%;
}

.videoView {
  position: relative;
  height: 100%;
  width: 100%;
}

.videoView p {
  position: absolute;
  padding: 5px;
  background-color: rgba(233, 30, 99, 0.85);
  color: #fff;
  border: 1px solid rgba(233, 30, 99, 0.7);
  z-index: 2;
  font-size: 12px;
  margin: 0;
}

.videoView video {
  width: 100%;
}

.highlighter {
  background: transparent;
  border: 2px solid rgba(233, 30, 99, 0.7);
  z-index: 1;
  position: absolute;
}
